In [1]:
import sys
sys.path.append("..")
from lunar_spectra_workbench.pipeline import analyze_day

res = analyze_day("../data/raw/20230902")

res.shot_quality

,shot_id,mean_persistence,min_persistence,num_subframes
0,ch3_lib_045_20230902T074049_00,0.666667,0.666667,2
1,ch3_lib_045_20230902T074049_01,0.380952,0.333333,2
2,ch3_lib_045_20230902T074049_02,0.153846,0.153846,1
3,ch3_lib_045_20230902T074049_03,0.342857,0.285714,2
4,ch3_lib_045_20230902T074049_04,0.916667,0.833333,2
5,ch3_lib_045_20230902T074049_05,0.816667,0.800000,2
6,ch3_lib_045_20230902T074049_06,0.575000,0.400000,2
7,ch3_lib_045_20230902T074049_07,1.000000,1.000000,6

In [ ]:
res.subframe_quality

,shot_id,subframe_index,total_peaks,persistent_peaks,persistence_ratio
0,ch3_lib_045_20230902T074049_00,0,3,2,0.666667
1,ch3_lib_045_20230902T074049_00,1,9,6,0.666667
2,ch3_lib_045_20230902T074049_01,0,7,3,0.428571
3,ch3_lib_045_20230902T074049_01,1,3,1,0.333333
4,ch3_lib_045_20230902T074049_02,0,13,2,0.153846
5,ch3_lib_045_20230902T074049_03,0,7,2,0.285714
6,ch3_lib_045_20230902T074049_03,1,5,2,0.400000
7,ch3_lib_045_20230902T074049_04,0,6,6,1.000000
8,ch3_lib_045_20230902T074049_04,1,6,5,0.833333
9,ch3_lib_045_20230902T074049_05,0,10,8,0.800000
10,ch3_lib_045_20230902T074049_05,1,6,5,0.833333
11,ch3_lib_045_20230902T074049_06,0,5,2,0.400000
12,ch3_lib_045_20230902T074049_06,1,4,3,0.750000
13,ch3_lib_045_20230902T074049_07,0,5,5,1.000000
14,ch3_lib_045_20230902T074049_07,1,7,7,1.000000
15,ch3_lib_045_20230902T074049_07,2,8,8,1.000000
16,ch3_lib_045_20230902T074049_07,3,5,5,1.000000
17,ch3_lib_045_20230902T074049_07,4,7,7,1.000000
18,ch3_lib_045_20230902T074049_07,5,5,5,1.000000

In [5]:
res.peak_persistence

                           shot_id Element   mean_pixel  num_subframes
0   ch3_lib_045_20230902T074049_00      Fe   409.000000              2
1   ch3_lib_045_20230902T074049_00      Na  1554.000000              2
2   ch3_lib_045_20230902T074049_01      Si   208.500000              2
3   ch3_lib_045_20230902T074049_01      Ti   540.500000              2
4   ch3_lib_045_20230902T074049_02      Na  1554.000000              2
5   ch3_lib_045_20230902T074049_03      Na  1556.500000              4
6   ch3_lib_045_20230902T074049_04      Fe   192.000000              2
7   ch3_lib_045_20230902T074049_04      Mg   329.500000              2
8   ch3_lib_045_20230902T074049_04      Na  1559.000000              2
9   ch3_lib_045_20230902T074049_04      Ti   542.000000              2
10  ch3_lib_045_20230902T074049_05      Al   436.000000              2
11  ch3_lib_045_20230902T074049_05      Fe   574.500000              2
12  ch3_lib_045_20230902T074049_05      Na  1557.000000              2
13  ch3_lib_045_20230902T074049_05      Si   207.500000              2
14  ch3_lib_045_20230902T074049_05      Si   763.000000              2
15  ch3_lib_045_20230902T074049_06      Na  1555.000000              2
16  ch3_lib_045_20230902T074049_06      Si   203.500000              2
17  ch3_lib_045_20230902T074049_07      Al   433.500000              2
18  ch3_lib_045_20230902T074049_07      Ca   772.000000              3
19  ch3_lib_045_20230902T074049_07      Ca   785.200000              5
20  ch3_lib_045_20230902T074049_07      Fe   576.000000              4
21  ch3_lib_045_20230902T074049_07      Fe   408.666667              3
22  ch3_lib_045_20230902T074049_07      Fe   690.000000              2
23  ch3_lib_045_20230902T074049_07      Mg   317.500000              2
24  ch3_lib_045_20230902T074049_07      Na  1558.800000              5
25  ch3_lib_045_20230902T074049_07      Si   203.750000              4
26  ch3_lib_045_20230902T074049_07      Ti   543.200000              5