In [ ]:
import sys
sys.path.append("..")
from lunar_spectra_workbench.pipeline import analyze_day

res = analyze_day("../data/raw/20230902")

res.shot_quality
res.subframe_quality.head()

,shot_id,subframe_index,total_peaks,persistent_peaks,persistence_ratio
0,ch3_lib_045_20230902T074049_00,0,3,2,0.666667
1,ch3_lib_045_20230902T074049_00,1,9,6,0.666667
2,ch3_lib_045_20230902T074049_01,0,7,1,0.142857
3,ch3_lib_045_20230902T074049_01,1,3,1,0.333333
4,ch3_lib_045_20230902T074049_02,0,13,2,0.153846

In [5]:
res.peak_persistence.head()

                          shot_id Element  mean_pixel  num_subframes
0  ch3_lib_045_20230902T074049_00      Fe       409.0              2
1  ch3_lib_045_20230902T074049_00      Na      1554.0              2
2  ch3_lib_045_20230902T074049_01      Si       208.5              2
3  ch3_lib_045_20230902T074049_02      Na      1554.0              2
4  ch3_lib_045_20230902T074049_03      Na      1554.0              2